@model IEnumerable<Company>

@{
    ViewData["Title"] = "Danh sách nhà cung cấp đã xoá";
}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="list"></i></div>
                            Danh sách nhà cung cấp đã xoá
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-black" asp-action="Index">
                            <i class="me-1" data-feather="corner-up-left"></i>
                            Trở về
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DisplayOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.District)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Province)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedAt)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DisplayOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.District)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Province)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedAt)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.District)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Province)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.LastUpdatedAt)
                                </th>
                                <td>
                                    <a href="#" onclick="return submitRestore(event,'@item.Id','Nhà cung cấp')">Phục hồi</a>
                                    <form asp-action="Restore" id="Restore+@item.Id">
                                        <input type="hidden" value="@item.Id" name="id" id="id" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>