@model Promotion

@{
    ViewData["Title"] = "Chi tiết Khuyến mãi";
}
@section Scripts {
    <script>
        const apiUrl = "/Dashboard/Book/BookList";
        const apiGet = "/Dashboard/Promotion/PromotionJson"
        const tbody = document.querySelector('#tablebody');


        async function getBook(value, bool) {
            const response = await fetch(apiUrl);
            const data = await response.json();
            if (bool === 'id') {
                const book = data.find(item => item.title === value);
                return book.id;
            }
            else {
                const book = data.find(item => item.id === value);
                return book.title;
            }
        }

        function getPromotionItem() {
            $.ajax({
                type: 'GET', url: apiGet,
                success: function (data) {
                    tbody.innerHTML = ''
                    data.forEach(item => {
                        const tr = document.createElement('tr');

                        const tdbook = document.createElement('td');
                        getBook(item.value, 'title').then(function (result) {
                            tdbook.innerHTML = result;
                        });
                        tr.appendChild(tdbook);

                        tbody.appendChild(tr);
                    })
                }
            });
        }

        getPromotionItem()
    </script>
}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="list"></i></div>
                            Chi tiết Khuyến mãi
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <div class="col-12 col-xl-auto mb-3">
                            <a class="btn btn-sm btn-light text-black" asp-action="Index">
                                <i class="me-1" data-feather="corner-up-left"></i>
                                Trở về
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group mt-2 col-md-3">
                        <img id="image" src="@Url.Content(Model.PromotionBanner)" style="width: 380px; padding: 8px;" />
                    </div>
                    <div class="mt-2 col-md-9">
                        <div class="row">
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Id" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Id)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Name" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Name)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Description" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Description)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Percent" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Percent)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="StartedDate" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.StartedDate)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="EndedDate" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.EndedDate)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <h5 class="mt-3">Sản phẩm khuyến mãi</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tên sách</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

