@model ShoppingCart

@{
    ViewData["Title"] = "Thông tin chi tiết";
}

<form method="post" class="add-cart">
    <input asp-for="BookId" hidden/>
    <div class="add-card">
        <div class="container">
            <div class="row add-card-container">
                <div class="col-lg-6">
                    <div class="img-container zoom">
                        <img src="@Model.Book.ImgUrl" alt="" />
                    </div>
                    <div class="hover-image">
                        <div class="book-img-cart">
                            <img src="@Model.Book.ImgUrl" alt="" />
                        </div>
                        <div class="book-img-cart">
                            <img src="@Model.Book.ImgUrl" alt="" style="filter: grayscale(100%)" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-name">
                        <h3>@Model.Book.Title</h3>
                    </div>
                    <div class="product-view-one">
                        <div class="product-supplier">
                            <span>Nhà phát hành:</span>
                            <a href="">@Model.Book.Publisher</a>
                        </div>
                        <div class="product-author">
                            <span>Tác giả:</span>
                            <span>@Model.Book.Author</span>
                        </div>
                    </div>
                    <div class="product-view-two">
                        <div class="product-supplier">
                            <span>Nhà cung cấp</span>
                            <span>Shueisha</span>
                        </div>
                        <div class="product-author">
                            <span>Hình thức bìa:</span>
                            <span>@Model.Book.CoverType.Name</span>
                        </div>
                    </div>
                    <div class="price">
                        <h1>@Model.Book.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</h1>
                    </div>
                    <div class="amount">
                        <label>Số lượng:</label>
                        <div class="quantity add">
                            <span class="minus">-</span>
                            <input asp-for="Count" type="text" class="number" />
                            <span class="plus">+</span>
                        </div>
                        <span asp-validation-for="Count" class="ps-2 text-danger"></span>
                    </div>
                    <div class="btn-groups mt-4">
                        <button type="submit" class="add-card">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Thêm vào giỏ hàng</span>
                        </button>
                        <button type="submit" class="buy-now">
                            <i class="fa-solid fa-wallet"></i>
                            <span>Mua ngay</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 g-0">
                    <div class="add-card-info">
                        <div class="add-card-content">
                            <div class="info-title">
                                <p>Thông tin sản phẩm</p>
                            </div>
                            <div class="info-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Mã hàng</th>
                                            <td class="data_id">@Model.Book.ISBN</td>
                                        </tr>
                                        <tr>
                                            <th>Tên Nhà Cung Cấp</th>
                                            <td class="data_supplier">
                                                <a href="">Nahf cúng</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Tác giả</th>
                                            <td class="data_author">@Model.Book.Author</td>
                                        </tr>
                                        <tr>
                                            <th>NXB</th>
                                            <td class="data_publisher">@Model.Book.Publisher</td>
                                        </tr>
                                        <tr>
                                            <th>Năm XB</th>
                                            <td class="data_publish_year">@Model.Book.PublicationDate</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="add-card-description">
                            <p>
                                <strong>
                                    @Model.Book.Title
                                </strong>
                            </p>
                            <p class="mt-3">
                                @Html.Raw(Model.Book.Description)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
     @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
     <script src="~/js/zoom.js"></script>
}