@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

<main class="home">
    <div class="navbar-banner">
        <div class="banner-content">
            15% Off eBooks and Audiobooks
            <span class="code-phrase">
                With Code:
                <span class="code">SNOWFALL</span>
            </span>
        </div>
    </div>
    <div class="navbar-sale">
        <div class="content-sale">
            A Sale for the Pages: 50% Off Thousands of Hardcover Books & Morer
            Deals
        </div>
    </div>
    <div class="slide-banner owl-carousel owl-theme">
        <div class="banner-item">
            <img src="~/images/25556_A2_NightWhereverWeGo_01-03.jpg" alt="" />
        </div>
        <div class="banner-item">
            <img src="~/images/25556_A2_NightWhereverWeGo_01-03.jpg" alt="" />
        </div>
        <div class="banner-item">
            <img src="~/images/25556_A2_NightWhereverWeGo_01-03.jpg" alt="" />
        </div>
    </div>

    <div class="book-outstanding">
        <div class="container">
            <div class="title-book">
                <p>Barnes & Noble Exclusives</p>
            </div>
            <div class="col-total">
                <div class="col-left">
                    <div class="book-content">
                        <div class="outstanding-img">
                            <a href="">
                                <img src="~/images/book1.webp" alt="" />
                                <p>Age of Vice (B&N Exclusive Edition)</p>
                            </a>
                            <div class="product-contributor">
                                <a href="">Deepti Kapoor</a>
                            </div>
                            <div class="printCopy">
                                <p>
                                    This is the age of vice, where money, pleasure, and power
                                    are everything, and the family ties that bind can also
                                    kill.
                                    <br />
                                    An intoxicating novel of gangsters and lovers, false
                                    friendships, forbidden romance, and the consequences of
                                    corruption.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-right">
                    <div class="row">
                        <div class="book-content col-md-3 col-4">
                            <div class="book-img">
                                <a href="" class="title-book">
                                    <img src="~/images/book3.webp" alt="" />
                                    <p>Và Rồi, Tháng 9 Không Có Cậu Đã Tới</p>
                                </a>
                                <div class="product-contributor">
                                    <a href="">Natsuki Amasawa</a>
                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="book-content col-md-3 col-4">
                            <div class="book-img">
                                <a href="" class="title-book">
                                    <img src="~/images/book3.webp" alt="" />
                                    <p>Và Rồi, Tháng 9 Không Có Cậu Đã Tới</p>
                                </a>
                                <div class="product-contributor">
                                    <a href="">Natsuki Amasawa</a>
                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="book-content col-md-3 col-4">
                            <div class="book-img">
                                <a href="" class="title-book">
                                    <img src="~/images/book3.webp" alt="" />
                                    <p>Và Rồi, Tháng 9 Không Có Cậu Đã Tới</p>
                                </a>
                                <div class="product-contributor">
                                    <a href="">Natsuki Amasawa</a>
                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="book-content col-md-3 col-4">
                            <div class="book-img">
                                <a href="" class="title-book">
                                    <img src="~/images/book3.webp" alt="" />
                                    <p>Và Rồi, Tháng 9 Không Có Cậu Đã Tới</p>
                                </a>
                                <div class="product-contributor">
                                    <a href="">Natsuki Amasawa</a>
                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="book-content col-md-3 col-4">
                            <div class="book-img">
                                <a href="" class="title-book">
                                    <img src="~/images/book3.webp" alt="" />
                                    <p>Và Rồi, Tháng 9 Không Có Cậu Đã Tới</p>
                                </a>
                                <div class="product-contributor">
                                    <a href="">Natsuki Amasawa</a>
                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="book-content col-md-3 col-4">
                            <div class="book-img">
                                <a href="" class="title-book">
                                    <img src="~/images/book3.webp" alt="" />
                                    <p>Và Rồi, Tháng 9 Không Có Cậu Đã Tới</p>
                                </a>
                                <div class="product-contributor">
                                    <a href="">Natsuki Amasawa</a>
                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="book-content col-md-3 col-4">
                            <div class="book-img">
                                <a href="" class="title-book">
                                    <img src="~/images/book3.webp" alt="" />
                                    <p>Và Rồi, Tháng 9 Không Có Cậu Đã Tới</p>
                                </a>
                                <div class="product-contributor">
                                    <a href="">Natsuki Amasawa</a>
                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="book-content col-md-3 col-4">
                            <div class="book-img">
                                <a href="" class="title-book">
                                    <img src="~/images/book3.webp" alt="" />
                                    <p>Và Rồi, Tháng 9 Không Có Cậu Đã Tới</p>
                                </a>
                                <div class="product-contributor">
                                    <a href="">Natsuki Amasawa</a>
                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>
</main>

<div class="list-book container mt-5 mb-5">
    <div class="title-list d-flex justify-content-between mb-3">
        <h2 class="category">Trending Now</h2>
        <a href="products.html" class="see-all">See all</a>
    </div>

    <div class="product-shelf-grid owl-carousel owl-theme owl-product">
        @foreach (var item in Model)
        {
            <div class="product-shelf">
                <img src="@Url.Content(item.ImgUrl)" alt="@item.Title" />
                  <div class="quick-add">
                    <a href="addCart.html">Mua ngay</a>
                  </div>
            </div>
        }
    </div>
</div>

<div class="list-book container mt-5 mb-5">
    <div class="title-list d-flex justify-content-between mb-3">
        <h2 class="category">New & Coming Soon in YA</h2>
        <a href="addCart.html" class="see-all">See all</a>
    </div>

    <div class="product-shelf-grid owl-carousel owl-theme owl-product">
        @foreach (var item in Model)
        {
            <div class="product-shelf">
                <img src="@Url.Content(item.ImgUrl)" alt="@item.Title" />
                <div class="quick-add">
                    <a href="addCart.html">Mua ngay</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="list-book container mt-5 mb-5">
    <div class="title-list d-flex justify-content-between mb-3">
        <h2 class="category">Manga, Manhua & More</h2>
        <a href="addCart.html" class="see-all">See all</a>
    </div>

    <div class="product-shelf-grid owl-carousel owl-theme owl-product">
        @foreach (var item in Model)
        {
            <div class="product-shelf">
                <img src="@Url.Content(item.ImgUrl)" alt="@item.Title" />
                <div class="quick-add">
                    <a href="addCart.html">Mua ngay</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
        <script>
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                dots: true,
                smartSpeed: 700,
                navText: [prevIcon, nextIcon],
                responsive: {
                    0: {
                        items: 1,
                    },
                },
            })
        </script>
}