@model CHomeViewModel

@{
    ViewData["Title"] = "Trang chủ";
}

@section Scripts {
    <script defer src="~/js/home.js"></script>
}

<main class="page">
    <div class="top-banner container">
        <div class="top-banner-container">
            <div class="banner owl-carousel owl-banner owl-theme">
                @foreach(var item in Model.PromotionCarousel)
                {
                    <div class="image-banner">
                        <a asp-controller="Book" asp-action="Find" asp-route-findby="promotion" asp-route-id="@item.Id">
                            <img class="lazyOwl" src="@Url.Content(item.PromotionBanner)" alt="" />
                        </a>
                    </div>
                }
            </div>
            <div class="banner-right">
                @foreach (var item in Model.Promotion)
                {
                    <div>
                        <a asp-controller="Book" asp-action="Find" asp-route-findby="promotion" asp-route-id="@item.Id">
                            <img src="@Url.Content(item.PromotionBanner)" alt="" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container">
       
        <div class="category-slider">
            <div class="tabslider-header">
                <h5>XU HƯỚNG</h5>
                <div class="tab-title">
                    <ul class="girdslider owl-filter-bar">
                        <li class="girdslider-item active" data-owl-filter=".sachmoi">
                            Sách mới
                        </li>
                        <li class="girdslider-item" data-owl-filter=".banchay">
                            Bán chạy
                        </li>
                        <li class="girdslider-item" data-owl-filter=".giamgia">
                            Giảm giá sốc
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-container-content">
                            <ul class="slider-book owl-carousel owl-product-2">
                                @foreach (var item in Model.NewBook)
                                {
                                    <li class="slider-item sachmoi">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title</a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }

                                @foreach (var item in Model.BestSeller)
                                {
                                    <li class="slider-item banchay">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title </a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }

                                @foreach (var item in Model.HotDeal)
                                {
                                    <li class="slider-item giamgia">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title </a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category-slider">
            <div class="tabslider-header">
                <div class="tab-title">
                    <ul class="girdslider owl-filter-bar-2">
                        <li class="girdslider-item-2 active" data-owl-filter-2=".mangamoi">Manga Mới</li>
                        <li class="girdslider-item-2" data-owl-filter-2=".topmanga">Top Manga</li>
                        <li class="girdslider-item-2" data-owl-filter-2=".lightnovelmoi">Light Novel Mới</li>
                    </ul>
                </div>
            </div>
            <div class="tab-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-container-content">
                            <ul class="slider-book owl-carousel owl-product-3">
                                @foreach (var item in Model.NewManga)
                                {
                                    <li class="slider-item mangamoi">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title </a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in Model.TopManga)
                                {
                                    <li class="slider-item topmanga">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title </a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in Model.NewLightNovel)
                                {
                                    <li class="slider-item lightnovelmoi">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title </a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category-slider">
            <div class="tabslider-header">
                <div class="tab-title">
                    <ul class="girdslider owl-filter-bar-3">
                        <li class="girdslider-item-3 active" data-owl-filter-3=".sachtl"> Sách Tâm lý - Kỹ năng sống </li>
                        <li class="girdslider-item-3" data-owl-filter-3=".sachkt"> Sách Kinh tế </li>
                        <li class="girdslider-item-3" data-owl-filter-3=".sachvh"> Sách Văn học </li>
                    </ul>
                </div>
            </div>
            <div class="tab-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-container-content">
                            <ul class="slider-book owl-carousel owl-product-4">
                                @foreach (var item in Model.Cate1)
                                {
                                    <li class="slider-item sachtl">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title </a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in Model.Cate2)
                                {
                                    <li class="slider-item sachkt">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title </a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in Model.Cate3)
                                {
                                    <li class="slider-item sachvh">
                                        <div class="slider-content">
                                            <div class="image-container">
                                                <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">
                                                    <div class="product-image-silder">
                                                        <img class="lazyOwl" src="@item.ImgUrl" alt="" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="product-name-slider">
                                                    <a asp-controller="Book" asp-action="Details" asp-route-bookId="@item.Id">@item.Title </a>
                                                </h2>
                                                <div class="price-label">
                                                    <p class="special-price">
                                                        <span class="price">@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
@*                                                        <span class="discount-percent">-0%</span>*@
                                                    </p>
@*                                                    <p class="old-price">
                                                        <span>@item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice.ToString("#,###.## đ")</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>