@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Book>

@{
    ViewData["Title"] = "Tìm kiếm sản phẩm";
    var segments = Context.Request.Path.Value.Split('/');
    var id = segments[segments.Length - 1];
}

@section StyleSheets{
    <link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/js/booksearch.js"></script>
}

<main class="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 category-container">
                <div class="link">
                    <div class="title">
                        <h4>Thể loại</h4>
                        <div class="caret"></div>
                    </div>
                    <ul class="ddcustom" id="category">
                    </ul>
                </div>

                <div class="link">
                    <div class="title">
                        <h4>Loại Bìa</h4>
                        <div class="caret"></div>
                    </div>
                    <ul class="ddcustom" id="covertype">
                    </ul>
                </div>

                <div class="link">
                    <div class="title">
                        <h4>Độ tuổi</h4>
                        <div class="caret"></div>
                    </div>

                    <ul class="ddcustom" id="age">
                    </ul>
                </div>
            </div>

            <div class="col-lg-10 col-md-10">
                <div class="row products-col gy-2 gx-2">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-6 d-flex">
                                <a asp-action="Details" asp-route-bookId="@item.Id" class="products-item" title="@item.Title">
                                    <div class="products-image">
                                        <img src="@Url.Content(item.ImgUrl)" alt="" />
                                        <div class="quick-add">
                                            <p>Mua ngay</p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column" style="flex: 1;">
                                        <p class="products-title">
                                            @item.Title
                                        </p>
                                        <span class="products-price mt-auto">@item.Price.OrderByDescending(x=>x.CreatedAt).First().ItemPrice.ToString("#,###.## đ")</span>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-12 p-3">
                            <p class="lead fw-normal mb-2">Không tìm thấy sản phẩm, quý khách vui lòng thử lại!</p>
                            <a asp-controller="Home" asp-action="Index" class="text-decoration-none d-flex align-items-center">
                                <i class="fas fa-long-arrow-alt-left me-2"></i>Trở về trang sản phẩm
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                @{

                }
                @Html.PagedListPager(Model, page => Url.Action("Find", new
                {
                findby = Context.Request.Query["findby"],
                id = id,
                page = page
                }),
                new PagedListRenderOptions
                {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
            </div>
        </div>
    </div>
</main>

