@model IEnumerable<UserWithRoles>

@{
    ViewData["Title"] = "Danh sách người dùng";
}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="list"></i></div>
                            Danh sách người dùng
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User.Name)
                            </th>
                            <th>
                                Địa chỉ Email
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.DoB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.CreatedAt)
                            </th>
                            @if ((AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Result.Succeeded)
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Roles)
                                </th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User.Name)
                            </th>
                            <th>
                                Địa chỉ Email
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.DoB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.CreatedAt)
                            </th>
                            @if ((AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Result.Succeeded)
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Roles)
                                </th>
                            }
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.User.Name)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.User.Email)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.User.DoB)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.User.CreatedAt)
                                </th>
                                @if ((AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Result.Succeeded)
                                {
                                    <th>
                                        @foreach (var role in item.Roles)
                                        {
                                            @Html.DisplayFor(r => role)
                                            <br />
                                        }
                                    </th>
                                }
                                <td>
                                    <div class="d-flex flex-row">
                                        <a class="btn btn-outline-primary btn-sm me-1" asp-controller="Order" asp-action="OrderByUserId" asp-route-id="@item.User.Id">Tìm hoá đơn</a>
                                        @if ((AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Result.Succeeded)
                                        {
                                            <a class="btn btn-outline-primary btn-sm" asp-controller="ManagerRole" asp-action="UserRoles" asp-route-id="@item.User.Id">Chỉnh sửa vai trò</a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>