@model IEnumerable<Category>

@{
    ViewData["Title"] = "Thể loại sách";
}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="list"></i></div>
                            Danh sách thể loại
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-primary" asp-action="Create">
                            <i class="me-1" data-feather="plus"></i>
                            Thêm thể loại sách
                        </a>
                        <a class="btn btn-sm btn-light text-danger" asp-action="DeletedIndex">
                            <i class="me-1" data-feather="trash-2"></i>
                            Đã xoá
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DisplayOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedAt)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DisplayOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedAt)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastUpdatedAt)
                                </td>
                                <td>
                                    <a asp-controller="Book" asp-action="BookByCategory" asp-route-id="@item.Id" >Tìm sách</a> |
                                    <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                                    <a href="#" onclick="return submitDelete(event,'@item.Id','Thể loại')">Xoá</a>
                                    <form asp-action="Delete" id="Delete+@item.Id">
                                        <input type="hidden" value="@item.Id" name="id" id="id" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>