@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Danh sách người dùng";
}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="list"></i></div>
                            Danh sách người dùng
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-primary" asp-area="Identity" asp-page="/Account/Register">
                            <i class="me-1" data-feather="plus"></i>
                            Thêm người dùng
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                Địa chỉ Email
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DoB)
                            </th>
                            <th>
                                Vai trò
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                Địa chỉ Email
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DoB)
                            </th>
                            <th>
                                Vai trò
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.DoB)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </th>
                                <th>
                                    @if(item.LockoutEnd != null)
                                    {
                                        <p>Đang bị khoá</p>
                                    }
                                    else
                                    {
                                        <p>Bình thường</p>
                                    }
                                </th>
                                <td>
                                    <a asp-controller="Order" asp-action="OrderByUserId" asp-route-id="@item.Id">Tìm hoá đơn</a> |
                                    <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                                    <a asp-action="Lock" asp-route-id="@item.Id">Khoá tài khoản</a> |
                                    <a href="#" onclick="return submitDelete(event,'@item.Id','Nhà cung cấp')">Xoá</a>
                                    <form asp-action="Delete" id="Delete+@item.Id">
                                        <input type="hidden" value="@item.Id" name="id" id="id" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>