@model LeBook.Models.ViewModel.BookViewModel

@{
    ViewData["Title"] = "Thông tin chi tiết sách";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="~/js/book-chart.js"></script>
    <script>
        areaChart(@Model.Book.Id)
    </script>
}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="plus"></i></div>
                            Thông tin chi tiết sách
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-black" asp-action="Index">
                            <i class="me-1" data-feather="corner-up-left"></i>
                            Trở về
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mt-2 col d-flex justify-content-center">
                            <h2 class="fw-bolder">@Model.Book.Title</h2>
                        </div>
                        <div class="mt-2 col d-flex justify-content-center">
                            <img width="240" src="@Url.Content(Model.Book.ImgUrl)" alt="@Model.Book.Title" />
                        </div>
                        <div class="m-1">
                            <label class="fw-bolder fs-5">Số lượng bán trong 30 ngày qua</label>
                            <div class="chart-area"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.ISBN" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.ISBN)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.Author" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.Author)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.Publisher" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.Publisher)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.PublicationDate" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.PublicationDate)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="itemPrice" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.itemPrice)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.InStock" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.InStock)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.Sold" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.Sold)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.Category1" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.Category1.Name)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.Category2" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.Category2.Name)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.CreatedAt" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.CreatedAt)</div>
                            </div>
                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.LastUpdatedAt" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.LastUpdatedAt)</div>
                            </div>

                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.CoverType.Name" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.CoverType.Name)</div>
                            </div>

                            <div class="form-group mt-2 col-md-4">
                                <label asp-for="Book.Age.Name" class="control-label fw-bolder fs-5"></label>
                                <div class="form-control-plaintext">@Html.DisplayFor(Model => Model.Book.Age.Name)</div>
                            </div>
                            <div class="form-group mt-2">
                                <label asp-for="Book.Description" class="control-label fw-bolder fs-5"></label>
                                @Html.Raw(Model.Book.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>