@model IEnumerable<Book>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="list"></i></div>
                            Danh sách sản phẩm @if (ViewBag.BookBy != null) { @ViewBag.BookBy}
                        </h1>
                    </div>

                    <div class="col-12 col-xl-auto mb-3">
                        @if ((AuthorizationService.AuthorizeAsync(User, "canAction")).Result.Succeeded)
                        {
                            <a class="btn btn-sm btn-light text-primary" asp-action="Upsert">
                                <i class="me-1" data-feather="plus"></i>
                                Thêm sách
                            </a>
                        }
                        <a class="btn btn-sm btn-light text-danger" asp-action="DeletedIndex">
                            <i class="me-1" data-feather="trash-2"></i>
                            Đã xoá
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ImgUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ISBN)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category1Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category2Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CoverTypeId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AgeId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InStock)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ImgUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ISBN)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category1Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category2Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CoverTypeId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AgeId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InStock)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img width="80" height="80" src="@Url.Content(item.ImgUrl)" alt="@item.Title" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ISBN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category1.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category2.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoverType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age.Name)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InStock)
                                </td>
                                <td>
                                    <a asp-action="Detail" asp-route-id="@item.Id">Chi tiết</a>
                                    @if ((AuthorizationService.AuthorizeAsync(User, "canAction")).Result.Succeeded)
                                    {
                                        <text>|</text> <a asp-action="Upsert" asp-route-id="@item.Id">Chỉnh sửa</a> 
                                        <text>|</text> <a href="#" onclick="return submitDelete(event,'@item.Id','Sách')">Xoá</a>
                                        <form asp-action="Delete" id="Delete+@item.Id">
                                            <input type="hidden" value="@item.Id" name="id" id="id" />
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>