@model CheckoutViewModel

@{
    ViewData["Title"] = "Thông tin đơn hàng";
}
@section Scripts{
    <script src="~/js/paymentmethod.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

    <div class="payment-container">
        <div class="container">
        <form action="Payment" method="post">
            <input asp-for="Order.OrderTotal" value="@Model.CartTotal" hidden />
            <div class="row">
                <div class="payment-address">
                    <div class="payment-title">Địa chỉ giao hàng</div>

                    <div class="payment-content">
                        <ul class="address-list">
                            <span asp-validation-for="Order.AddressId" class="text-danger ms-3 p-2"></span>
                            @foreach (var address in Model.Address)
                            {
                                <li class="address-item method d-flex justify-content-between mt-2">
                                    @{
                                        string item = address.Name + " | " + address.Street + "," + address.Ward + "," + address.District + "," + address.Province + " | " + address.Contact;

                                    }
                                    @item.ToString()

                                    <input type="radio" asp-for="Order.AddressId" id="@address.Id" value="@address.Id" class="checkout-option">
                                    <span class="radiomark-big"></span>
                                    <a class="text-decoration-none text-black" asp-controller="Address" asp-action="Edit" asp-route-id="@address.Id">
                                        <span>Sửa</span>
                                    </a>
                                </li>
                            }
                        </ul>
                        <div class="address-list-btn">
                            <span>
                                <img src="~/assets/svg/ico_add_circle_red.svg" alt="">
                            </span>
                            <a class="text-decoration-none text-black" asp-controller="Address" asp-action="Create">
                                <p>Giao hàng đến địa chỉ khác</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="payment-shippingmethod">
                    <div class="payment-title">Phương thức vận chuyển</div>
                    <div class="payment-content">
                        <ul class="address-list">
                            <li class="address-item" style="font-weight: 600">
                                Giao hàng tiêu chuẩn: 30.000 đ
                                <input type="radio" class="checkout-option" asp-for="Order.ShippingType" value="ghtc" checked>
                                <span class="radiomark-big"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="payment-mothod">
                    <div class="payment-title">Phương thức thanh toán</div>
                    <div class="payment-content">
                        <ul class="address-list">
                            <span asp-validation-for="Order.PaymentType" class="text-danger ms-3 p-2"></span>
                            <li class="address-item method d-flex align-center justify-center" style="font-weight: 600">
                                <div style="
                      background: url(/assets/svg/ico_vnpay.svg) no-repeat
                        center;
                      width: 40px;
                    "></div>
                                <div class="payment-name">VNPay</div>
                                <input type="radio" class="checkout-option" asp-for="Order.PaymentType" id="vnpay" value="vnpay">
                                <span class="radiomark-big"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="payment-content">
                        <ul class="address-list">
                            <li class="address-item method d-flex align-center justify-center" style="font-weight: 600">
                                <div style="
                      background: url(/assets/svg/ico_cashondelivery.svg) no-repeat
                        center;
                      width: 40px;
                    "></div>
                                <div class="payment-name">
                                    Thanh toán bằng tiền mặt khi nhận hàng
                                </div>
                                <input type="radio" class="checkout-option" asp-for="Order.PaymentType" id="cashondelivery" value="cod">
                                <span class="radiomark-big"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="checkout-product-block">
                    <div class="checkout-product-title">Kiểm tra đơn hàng</div>
                    <div class="checkout-product-content">
                        @foreach (var item in Model.ListCart){
                            <div class="checkout-product-item">
                                <div class="checkout-product-item-img">
                                    <img src="@item.Book.ImgUrl" />
                                </div>
                                <div class="checkout-product-item-detail">
                                    <div class="checkout-product-item-name">
                                        <p>@item.Book.Title</p>
                                    </div>
                                    <div class="checkout-product-item-price" id="@item.Book.Id+price">
                                        <p>@Html.DisplayFor(modelItem => item.Book.Price.OrderByDescending(p => p.Id).FirstOrDefault().ItemPrice)</p>
                                    </div>
                                    <div class="checkout-product-item-quantity">
                                        <p>@item.Count</p>
                                    </div>
                                    <div class="checkout-product-item-total" id="@item.Book.Id+totle">
                                        <p>@Html.DisplayFor(modelItem => item.ItemTotal)</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="payment-mothod payment-total">
                    <div class="payment-title">Thanh Toán</div>
                    <div class="payment-content">
                        <ul class="address-list">
                            <li class="payment-product" style="font-weight: 600">
                                <div class="total-subtotal">
                                    <div>Thành Tiền:</div>
                                    <div id="carttotal">@Html.DisplayFor(Model => Model.CartTotal)</div>
                                </div>
                                <div class="total-shipping">
                                    <div>Phí vận chuyển (Giao hàng tiêu chuẩn):</div>
                                    <div>30,000 đ</div>
                                </div>
                                <div class="total-grand-total">
                                    <div>Tổng Số Tiền (gồm VAT):</div>
                                    <div id="ordertotal">@Html.DisplayFor(Model => Model.Order.OrderTotal)</div>
                                </div>
                                <div>
                                    <div>
                                        <button type="submit" class="btn-orderconfirm">
                                            <span>Xác nhận thanh toán</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
